* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: var(--font-family);
  color: #000;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
}

:root {
  --font-family: 'AvertaStd', sans-serif;
  --primary-color: #7b0ac7;
  --secondary-color: #257bbf;
  --white-color: #fff;
  --bg-color: #deebf4;
  --btn-color: #0599d2;
}

* {
  outline: 0;
}

svg {
  width: 100%;
  height: auto;
}

.container {
  min-width: 90%;
  margin: auto;
}

.web-container {
  width: 85%;
  margin: auto;
}

.button {
  float: left;
  min-width: 140px;
  display: block;
  border: none;
  background: none;
  color: inherit;
  position: relative;
  z-index: 1;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  background-color: var(--btn-color);
  color: var(--white-color);
  overflow: hidden;
  transition: color 0.3s;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
}

.button--aylen.button--inverted {
  background: none;
  color: var(--white-color);
}

.button--aylen::before,
.button--aylen::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--aylen::before {
  background: #7986cb;
}

.button--aylen::after,
.gradient {
  background: linear-gradient(80deg, #8827ca, #178fee);
}

.button--aylen:hover {
  color: var(--white-color);
}

.button--aylen:hover::before,
.button--aylen:hover::after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.button--aylen:hover::after {
  -webkit-transition-delay: 0.175s;
  transition-delay: 0.175s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.homecollection h4 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  margin: 0;
}

.homecollection h3 {
  font-size: 38px;
  color: #0599d2;
  font-weight: bold;
  line-height: 38px;
  margin: 0;
}

.homecollection h3 a {
  text-decoration: none;
  color: inherit;
}

.menslide {
  position: fixed;
  background: #f3f3f3;
  width: 100%;
  left: 0;
  top: 150px;
  line-height: 50px;
  transition: ease all 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}

.hemburgur span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 1px;
  background: rgb(0 0 0 / 50%);
  transition: 0.2s ease-in-out;
  float: left;
  position: absolute;
  border-radius: 100%;
  right: 0;
}

.togmenu li {
  padding: 8px 0;
}

.hemburgur {
  width: 30px;
  height: 40px;
  cursor: pointer;
  transform: rotate(0deg);
  position: relative;
  float: right;
  z-index: 1;
  right: 0;
  background: transparent;
  border: none;
  outline: 0;
}

.hemburgur span:nth-child(1) {
  top: 0;
}

.hemburgur span:nth-child(2) {
  top: 14px;
}

.hemburgur span:nth-child(3) {
  top: 28px;
}

header {
  padding: 15px 0;
  margin-bottom: 50px;
}

.hemburgur.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 15px;
  left: 5px;
  width: 100%;
  height: 2px;
  border-radius: 0;
}

.hemburgur.active span:nth-child(2) {
  opacity: 0;
}

.hemburgur.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 15px;
  left: 5px;
  width: 100%;
  height: 2px;
  border-radius: 0;
}

.menslide.active {
  opacity: 1;
  visibility: visible;
  top: 120px;
}

img {
  max-width: 100%;
}

.searchbutton {
  position: absolute;
  right: 0;
  background-color: var(--btn-color);
  top: 0;
  bottom: 0;
  width: 80px;
}

.searchbutton svg path,
.discountprice svg path {
  fill: var(--white-color) !important;
}

.discountprice svg path {
  stroke: var(--white-color) !important;
}

.searchbutton svg {
  width: 100%;
  font-size: 32px;
  font-weight: 100;
}

.enquireform .MuiInputBase-root {
  border-radius: 35px;
  background-color: var(--bg-color);
  text-align: left;
  overflow: hidden;
  margin-bottom: 15px;
}

.enquireform .MuiInputBase-root label {
  font-weight: normal;
  text-transform: capitalize;
  font-size: 16px;
}

.MuiInputBase-root.formbtn {
  line-height: 56px;
  color: #607586;
  letter-spacing: 0;
  border: solid 1px #abb5bb;
  max-height: 56px;
}

.MuiInputBase-root.formbtn.download {
  text-indent: 8px;
}

main {

  gap: 75px;
}

section {
  width: 100%;
  float: left;
}

.title h3 {
  margin: 0;
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(52deg, #7610c7, #0c90d2);
  background-size: 100% 100%;
  background-position: 0;
}

.title {
  margin-bottom: 50px;
}

.sliderbox {
  background: var(--white-color);
  border: solid 1px #ededed;
  border-radius: 25px;
  padding: 25px;
  text-align: center;
  gap: 15px;
  position:relative
}


.packagename span,
.circleicons span {
  width: 140px;
  height: 140px;
  background-color: var(--bg-color);
  border-radius: 100%;
  margin: auto;
}



.packagedetail ul {
  padding: 0;
  margin: 0;
  gap: 15px;
}

.packagedetail ul li {
  position: relative;
}

.packagedetail ul li:before {
  content: '';
  width: 30px;
  height: 2px;
  background: #ff0000;
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.packagedetail ul li:last-child:before {
  opacity: 0;
}

.actualprice {
  font-size: 28px;
  font-weight: bold;
  line-height: 36px;
  padding: 15px 0;
}

.actualprice svg,
.discountprice svg {
  width: 30px;
  height: 30px;
  position: relative;
  left: 5px;
}

.discountprice {
  font-weight: bold;
  border-radius: 25px;
  font-size: 28px;
  line-height: 50px;
  width: 170px;
  margin: 0px auto;
}


.packagename h4 {
  font-size: 18px;
  display: grid;
  line-height: 26px;
}

.flex-center,
.discountprice,
.actualprice,
.packagename span,
.searchbutton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-center,
.packagedetail ul,
.sliderbox {
  display: grid;
  align-items: center;
  justify-content: center;
}

.actualprice:before {
  content: '';
  width: 70px;
  position: absolute;
  height: 2px;
  background: #ff0000;
  transform: rotate(45deg);
}

.actualprice:after {
  content: '';
  width: 70px;
  position: absolute;
  height: 2px;
  background: #ff0000;
  transform: rotate(136deg);
}

.title h3 span {
  font-size: 22px;
  line-height: 30px;
}

.title h3.text-white {
  -webkit-text-fill-color: var(--white-color);
  background-image: inherit;
}

.condtionicon {
  width: 80px;
  height: 80px;
  position: relative;
  top: 50px;
  z-index: 1;
}

.conditionshape {
  height: 150px;
  overflow: hidden;
}

.conditionshape span {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100%;
}

.conditionshape h3 {
  position: absolute;
  margin: 0;
  text-align: center;
  width: 100%;
  right: 0;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  line-height: 26px;
}

.condtionicon path {
  fill: #284980;
}

.condition:nth-child(1) .conditionshape path {
  fill: #5dd6b3;
}
.condition:nth-child(2) .conditionshape path {
  fill: #6295d7;
}
.condition:nth-child(3) .conditionshape path {
  fill: #fef7a6;
}
.condition:nth-child(4) .conditionshape path {
  fill: #e5e4f4;
}
.condition:nth-child(5) .conditionshape path {
  fill: #d98594;
}
.condition:nth-child(6) .conditionshape path {
  fill: #fcd29f;
}
.condition:nth-child(7) .conditionshape path {
  fill: #e0d3de;
}
.condition:nth-child(8) .conditionshape path {
  fill: #c7efcf;
}

.circleicons {
  margin: 15px 0;
}

.footerrow {
  gap: 100px;
}

.footercolumn,
.fheading h5 {
  font-size: 14px;
  line-height: 26px;
}

.fheading h5 {
  font-weight: 600;
  letter-spacing: 1.5px;
}

.footergray {
  background-color: #d8dee8;
  padding: 50px 0;
  margin-top: 50px;
}

.contact a {
  text-decoration: none;
  color: inherit;
}

.ftrbdr {
  border: solid 1px #d3d3d3 !important;
}

.footergray p {
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #8f8f8f;
}

.bg-gradient-image {
  bottom: -55%;
  z-index: -1;
}

.packagedetail {
  height: 120px;
  display: inline-block;
}

.textbtn {
  margin-top: 25px;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1.5px;
  transition: ease all 0.5s;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.textbtn:hover {
  letter-spacing: 4px;
}

.textbtn:after {
  content: '';
  width: 0;
  position: absolute;
  height: 1px;
  bottom: 0;
  background: #646464;
  left: 0;
  transition: ease all 0.5s;
}

.textbtn:hover:after {
  width: 100%;
}

.packagename h5 {
  margin: 0;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #0f8cd2;
  padding: 10px 30px;
  border-radius: 25px;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

.organcolumnrow {
  margin-bottom: 50px;
}
.organcolumn svg path, .circleicons svg path{
  fill: var(--white-color);
}
.circleicons svg {
  width: 50%;
}
.testimonial {
  background-image: url(/testimonial-banner.webp);
  padding: 100px 0;
  position: relative;
}

.testimonial:before {
  background: rgb(37 123 191 / 74%);
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.z-index-2{
  z-index: 2;
}
.testimonialbox{
  background-image: url(/testimonialshape.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;
  height: 450px;
  padding: 50px 0;
}
.testimonialbox p {
  width: 70%;
  margin-top: 100px;
  margin-bottom: 0;
  text-align: center;
  color: rgb(0 0 0 / 60%);
  font-size: 17px;
  line-height: 22px;
}

.testimonialbox 
 h4 {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 50px;
}
.cta span svg{
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0px auto;
}

.cta {
  margin-top: 50px;
}
.hsection {
  top: 15%;
  left: -3%;
  opacity: 0.5;
}

.svgwidth {
  width: 150px;
  height: 150px;
}
.svgwidthline {
  width: 80px;
  opacity: 0.5;
}
footer {
  margin-top: 75px;
}
.footergray p a {
  color: #8f8f8f;
  text-decoration: none;
}